@media only screen and (max-width: 64em) {
  .about {
    flex-direction: column;
  }

  .hero-grade {
    top: 30rem;
  }

  .about-textbox {
    width: 100%;
    text-align: center;
  }

  .about img {
    width: 40%;
    margin-top: 8rem;
  }

  /* Automate Section.............*/
  .automate {
    flex-direction: column;
    align-items: center;
  }

  .automate-textbox {
    width: 100%;
    text-align: center;
  }

  .automate-textbox a {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .automate img {
    margin-top: 8rem;
  }

  .trade {
    flex-direction: column-reverse;
    align-items: center;
  }

  .trade-textbox {
    width: 100%;
    text-align: center;
  }

  .trade img {
    margin-top: 10rem;
  }

  .provide {
    flex-direction: column;
  }

  .provide-textbox {
    width: 100%;
    text-align: center;
  }

  .provide img {
    margin-top: 10rem;
  }

  .community-handle {
    width: 100%;
  }

  .automate-grad {
    position: absolute;
    right: -6rem;
    bottom: 15rem;
  }

  .provide-grad {
    position: absolute;
    right: 0rem;
    top: -10rem;
    z-index: -20;
  }
}

@media only screen and (max-width: 54.3125em) {
  html {
    font-size: 50%;
  }

  .hero-img {
    width: 90%;
  }
}

@media only screen and (max-width: 43.625em) {
  .footer {
    flex-direction: column;
  }

  .footer-links {
    flex-basis: 100%;
    width: 100%;
    margin-top: 5rem;
  }

  .automate-textbox a {
    width: 80%;
    padding: 2.5rem;
  }

  .automate img {
    width: 70%;
  }

  .trade img,
  .provide img {
    width: 50%;
  }

  .hero-grade {
    width: 100%;
    top: 30rem;
  }

}